<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="org.kosta.model.mapper.PostMapper">
	
	<resultMap type="postVO" id="postListRM">
		<result column="product_no" property="postVO.productNo" />
		<result column="product_name" property="postVO.productName" />
		<result column="start_price" property="postVO.start_price" />
		<result column="now_price" property="postVO.nowPrice" />
		<result column="product_up_time" property="postVO.productUpTime" />
		<result column="bid_end_time" property="postVO.bidEndTime" />
		<result column="unit_price" property="postVO.unitPrice" />
		<result column="give_me_that_price" property="postVO.giveMeThatPrice" />
		<result column="detail" property="postVO.detail" />
	</resultMap>
	
	<select id="showAll" resultMap="postListRM">
	select p.product_no, p.product_name
	from post p, a_member a
	where p.member_id = a.member_id
	order by p.product_up_time desc
	</select>
	
	<insert id="registerProduct" parameterType="postVO">
	insert into post 
	values(product_no_seq.nextval, #{productName},#{startPrice},#{nowPrice},sysdate,sysdate+#{bidTimeUnit},#{unitPrice},#{giveMeThatPrice},#{detail},#{categoryVO.categoryNo},#{memberVO.memberId})
	</insert>
	
	<select id="viewDetailPost" resultType="postVO">
		select product_no
		from post
		where product_no = #{value}
	</select>
	<insert id="addCart">
		insert into pick
		values(pick_no_seq.nextval, sysdate, #{memberVO.member_Id},#{postVO.product_no})
	</insert>
</mapper>

