<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="org.kosta.model.mapper.PostMapper">

	<resultMap type="postVO" id="detailPostRM">
		<result column="name" property="memberVO.name"/>
		<result column="member_id" property="memberVO.memberId"/>
	</resultMap>
	<select id="showAll" resultMap="detailPostRM">
<!-- 	select p.product_no, p.product_name
	from post p, a_member a
	where p.member_id = a.member_id
	order by p.product_up_time desc -->
	
	<!-- p.bid_end_time 에러남 ㅠ -->
	select p.product_no, p.title, p.product_name, p.now_price, p.post_image, p.member_id, m.name, p.bid_end_time
	from(
		select row_number() over(order by product_no desc) as rnum,product_no,title,product_name,now_price,bid_end_time,post_image,member_id
		from post
	) p, a_member m
	where p.member_id=m.member_id and rnum between #{pg.startRowNumber} and #{pg.endRowNumber}

	</select>
	
	<insert id="registerProduct" parameterType="string">
	insert into post 
	values(product_no_seq.nextval, #{productName},#{startPrice},#{nowPrice},sysdate,sysdate+#{bidTimeUnit},#{unitPrice},#{giveMeThatPrice},#{detail},#{categoryVO.categoryNo},#{memberVO.memberId})
	</insert>
	
	<select id="viewDetailPost" resultMap="detailPostRM" parameterType="string">
		select *
		from post p, a_member m
		where p.product_no = #{value} and p.member_id=m.member_id
	</select>
	
	<insert id="addCart" parameterType="string">
		insert into pick
		values(pick_no_seq.nextval, sysdate, #{memberVO.member_Id},#{postVO.product_no})
	</insert>
	
<!-- 	
	<select id="searchByTitle" resultMap="detailPostRM" parameterType="hashMap">
		select p.product_no, p.title, p.product_name, p.now_price, p.post_image, p.member_id, m.name, p.bid_end_time
		from(
		select row_number() over(order by product_no desc) as rnum,product_no,title,product_name,now_price,bid_end_time,post_image,member_id
		from post
		) p, a_member m
		where p.member_id=m.member_id and p.title like '%'||#{title}||'%' and rnum between #{pg.startRowNumber} and #{pg.endRowNumber}
		
	</select> -->
	
	<!-- <select id="searchByTitle" parameterType="hashmap" resultType="hashmap">
		
	
	</select> -->
	<select id="searchByTitle" parameterType="string" resultMap="detailPostRM">
		select *
		from post p, a_member m
		where title like '%'||#{value}||'%' and p.member_id=m.member_id
	</select>
	
	
	
</mapper>

